<h1>主人公</h1>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>誕生日</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>高橋　茉莉子</th>
      <th>1988年11月19日</th>
      <th>自己中</th>
    </tr>
  </tbody>
</table>
